# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Specific
.Trash/
.trash/
.DS_Store

# Temporary / Codegen files
.nuxt
.temp
.vite-inspect
**/temp/

# Unplugin Vue Router & Unplugin Vue Components
components.d.ts
**/typed-router.d.ts

# Cache
.eslintcache
**/tsconfig.tsbuildinfo

# Bianry
*.pcm
*.wav
*.ogg
*.mp3

# Make it easy for devenv users to override their local environment.
# See: https://github.com/moeru-ai/airi/pull/110#discussion_r2024378953
.direnv
.pre-commit-config.yaml
.envrc
.devenv*
devenv.*

# Rust
target/
crates/*/target/
